.edit-continer{
  margin-top: 1em;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns:1fr 1fr ;
  align-items: center;
  justify-items: center;
   h1{
    grid-column: 1/-1;
    font-size: 1.5rem;
   }
  .edit-form{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 204, 122);
    padding: 15px;
    border: 1px solid black;
    border-radius: 1em;
    label{
      margin-bottom: 10px;
    }
  }
  .toy-prev-edit{
    width: 250px;
    padding: 15px;
    background-color: rgb(241, 204, 122);
    border: 1px solid black;
    border-radius: 1em;
  }
}




